# ----------------------------------------------------------------------
# 1. cPanel / CloudLinux / LiteSpeed Multi-PHP 8.4 Handlers
# ----------------------------------------------------------------------
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php84 .php .php8 .phtml
  AddHandler application/x-httpd-ea-php84___lsphp .php .php8 .phtml
  AddHandler application/x-httpd-alt-php84 .php .php8 .phtml
  AddHandler application/x-httpd-alt-php84___lsphp .php .php8 .phtml
  AddHandler application/x-httpd-ea-php83 .php .php8 .phtml
  AddHandler application/x-httpd-ea-php83___lsphp .php .php8 .phtml
  AddHandler application/x-httpd-alt-php83 .php .php8 .phtml
  AddHandler application/x-httpd-alt-php83___lsphp .php .php8 .phtml
  AddHandler application/x-httpd-ea-php82 .php .php8 .phtml
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>

<IfModule lsapi_module>
  SetHandler application/x-httpd-ea-php84
</IfModule>

AddType application/x-httpd-ea-php84 .php
AddType application/x-httpd-alt-php84 .php
AddType application/x-httpd-php84 .php

# ----------------------------------------------------------------------
# 2. Apache Front Controller
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
